
/*This is the default format for the entire website*/
body{
    background-color: #002966;
    color:black;
    text-align:center;
    font-family:Open Sans;
}

header{
    font-size: x-large;
    font-family: Futura;
}

/*Formatting for tables */
table,th,td {
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    padding:10px;
}

article{
    width:70%;
    text-align: left;
}
article img{
    max-width: 80%;
}

aside{
    text-align: center;
    position: fixed;
    right: 3%;
    bottom: 18%;
    background-color: white;
    border:2px solid #002966;
    border-radius: 5px;
    padding:2px;
    max-width: 23%;
}
aside img{
    width: 100%;
}

div{
    font-size:large;
    background-color: white;
    padding: .1%;
  }

a:link, a:visited{
    background-color: white;
    color: black;
    padding:4px;
}

a:hover, a:active{
    color:blue;
    border:2px solid blue;
    border-radius: 5px;
    padding:2px;
}

ul {
    list-style-type: none;
    text-align: left;
}

li{
    padding:4px;
}

.about table{width:85%;} 
.about td{width:60%;}

.seal{
    height:100px;
    width:100px;
}

.vertical{
    border-right: 2px solid silver;
}

.horizontal, section{
    border-bottom: 2px solid silver;
}
.BOM{
    border:1px solid black;
    border-collapse:collapse;
}

.index{
    max-width: 400px;
    width:100%;
}

.index:hover {
    background-color:transparent;
    border-color:transparent;
}

.dropOptions{
    display:none;
}

.drop:hover .dropOptions{
    display:block;
    position:absolute;
    box-shadow: 0px 5px 10px 0px grey;
    white-space: nowrap;
    text-align: left;
    min-width: auto;
    padding-right: 43px;
    margin-left: -42px;  
    margin-top: 4px;
}