
/*This is the default format for the entire website*/
body{
    background-color: white;
    color:black;
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header{
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav table{
    text-transform: uppercase;
    width:70%; 
}
nav td{
    max-width: fit-content;

}

/*Formatting for tables */
table,th,td {
   margin-left: auto;
   margin-right: auto;
    border-collapse: collapse;
    width:100%;
    table-layout: fixed;
    padding:10px;
}

article{
    width:70%;
    text-align: left;
    margin-right:auto;
    margin-left: auto;
}
article img{
    max-width: 80%;
}

aside{
    text-align: center;
    position: fixed;
    right: 2%;
    bottom: 18%;
    background-color: lightgrey;
    border:2px solid grey;
    border-radius: 10px;
    padding:2px;
    max-width: 23%;
}
aside img{
    width: 100%;
}

img{
    border-radius:10px;
}

div{
    font-size:large;
    background-image:radial-gradient(white,#fbe7c2);
    width:70%;
    margin-left:auto;
    margin-right:auto;
    border-radius:15px;
    padding:15px;
  }

a:link, a:visited{
   background-color:none;
   background-image:none;
    color: black;
    text-decoration: none;
    padding:5px;
}

a:hover, a:active{
    background-color:none;
   background-image:none;
    color:grey;
    opacity:0.6;
    padding:5px;
}

ul {
    list-style-type: none; 
}


.seal{
    height:100px;
    width:100px;
}

.vertical{
    border-right: 2px solid silver;
}

.horizontal, section{
    border-bottom: 2px solid silver;
}
.BOM{
    border:1px solid black;
    border-collapse:collapse;
    margin-right:auto;
    margin-left:auto;
}

.index{
    max-width: 400px;
    width:100%;
    background-image: none;
}

.index:hover {
    background-color:transparent;
    background-image: none;
    border-color:transparent;
}

.drop{
    background-image: none;
    display:inline;
}

.dropOptions{
    display:none;
}

.drop:hover .dropOptions{
    display: inline-block;
    position: absolute;
    box-shadow: 0px 5px 10px 0px grey;
    white-space: nowrap;
    text-align: left;
    margin-top: 25px;
    margin-left: -160px;
    padding-right: 40px;
    background-color:white;
    background-image: none;
    width:fit-content;
}
